<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-card  styleClass="mb-4">
                <div class="flex justify-between items-center">
                    <h1>{{title}}</h1>
                  
                </div>
              
            </p-card>

            <p-table #dt [value]="pageResult.result"  [lazy]="true"  [lazy]="true" 
               (onLazyLoad)="getPage($event)" [totalRecords]="pageResult.total"
                [columns]="listColumns" [rows]="10"   (onPage)="pageChange($event)"
                [paginator]="paginator" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} To {last} Of {totalRecords} Entries" [rowHover]="true"
                dataKey="id">
            
                <ng-template pTemplate="header">
                    <tr>
                       <th>#</th>
                        <th  *ngFor="let col of listColumns | hideColumn" >
                            {{col.header}}
                        </th>
                        <th  *ngIf="withAction" [pSortableColumn]="undefined">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-entity let-i="rowIndex">
                    <tr >
                        <td>{{i+1}}</td>
                        <td *ngFor="let col of listColumns | hideColumn" 
                            [style]="'width:'+ col.width +'%; min-width:' + (col.minWidth>0? col.minWidth : '10') + 'rem;'">
                            <span class="p-column-title">{{entity[col.header]}}</span>
                            <span class="">
                                <span *ngIf="!col.isDate &&!col.isCurrancy && !col.isColoredRow && ([col.field]) != 'AvailablePieces'" class="mx-1 ">
                                    {{(entity[col.field])}}                                  
                                </span>
                                <span *ngIf="([col.field]) == 'AvailablePieces'" [ngClass]="(entity[col.field]) < 50 ?'coloredCol' : ''"> 
                                      {{(entity[col.field])}}
                                    </span>

                                <span *ngIf="col.isCurrancy">
                                    {{entity[col.field] | currency }}
                                </span>
                                <span *ngIf="col.isDate">
                                    {{entity[col.field] | date }}
                                </span>
                             
                             
                            </span>

                        </td>
                     
                        <td *ngIf="withAction" style="width:20%; min-width: 10rem;"><span
                                class="p-column-title">Actions</span>
                            <div class="flex options-dropdown justify-center">
                                <p-menu #menu [popup]="true" [model]="menuItems" appendTo="body"></p-menu>
                                <button *ngIf="hideActionWithReadOnly||!entity.readOnly" type="button" pButton
                                    icon="pi pi-ellipsis-v" (click)="onRecordChange(entity,i); menu.toggle($event)"
                                    class="p-button-text p-button-secondary"
                                    [style]="{margin: '0', padding:'0'}"></button>
                            </div>
                        </td>

                     

                    </tr>
                </ng-template>
            </p-table>
        </div>


   
    </div>
</div>

